<footer class="footer text-white">





    <div class="container">
        <div class="row row-justify-center">
            <div class="col-1 col-md min-width-300px">
                <h1 id="polydus-copyright" th:text="'© Polydus ' + ${#dates.year(#dates.createNow())}"></h1>
            </div>

        </div>

        <div class="row row-justify-center">
            <div class="col-1 col-md min-width-300px">
                <p>[ <a class="anchor-black" href="https://github.com/Polydus/code-formatter">Source</a> ]</p>
            </div>

        </div>


        <div class="row row-justify-center">

            <div class="col-6 col-md min-width-300px">
                <h5>Links</h5>
                <ul class="list-unstyled text-small">
                    <li>[ <a class="anchor-black" href="https://polydus.com">Polydus.com</a> ]</li>
                    <li>[ <a class="anchor-black" href="https://play.google.com/store/apps/dev?id=6997624143432415577">Google Play Store</a> ]</li>
                    <li>[ <a class="anchor-black" href="https://github.com/Polydus">GitHub</a> ]</li>
                    <li>[ <a class="anchor-black" href="https://www.twitter.com/Polydus">Twitter</a> ]</li>
                    <li>[ <a class="anchor-black" href="https://instagram.com/polydus1">Instagram</a> ]</li>
                </ul>
            </div>

            <div class="col-6 col-md min-width-300px">
                <h5>Projects</h5>
                <ul class="list-unstyled text-small">
                    <li>[ <a class="anchor-black" href="https://play.google.com/store/apps/details?id=com.polydus.boatsandbanners">Boats & Banners</a> ]</li>
                    <li>[ <a class="anchor-black" href="https://play.google.com/store/apps/details?id=com.polydus.ultrasolitaire">Ultra Solitaire</a> ]</li>
                    <li>[ <a class="anchor-black" href="https://play.google.com/store/apps/details?id=com.polydus.reversi">Ultra Reversi Online</a> ]</li>
                    <li>[ <a class="anchor-black" href="https://github.com/Polydus/hextiles-lib">HexTiles Library</a> ]</li>
                    <li>[ <a class="anchor-black" href="https://www.newgrounds.com/portal/view/699417">Endless Tank War!</a> ]</li>

                </ul>
            </div>


        </div>
    </div>






</footer>