

<form id="input-form" action="#" th:action="@{/}" th:object="${FormSettingsInput}" method="post">

    <div class="btn-group">
        <input type="radio" class="btn-check" th:field="*{setting}" th:value="${formatter}" id="setting-select-0" autocomplete="off">
        <label id="setting-select-label-0" class="btn top-button" for="setting-select-0" th:text="${formatter}"
               th:classappend="${FormSettingsInput.setting == formatter} ? 'top-button-active' : ''"></label>

        <input type="radio" class="btn-check" th:field="*{setting}" th:value="${xml}" id="setting-select-1" autocomplete="off" >
        <label id="setting-select-label-1" class="btn top-button" for="setting-select-1" th:text="${xml}"
               th:classappend="${FormSettingsInput.setting == xml} ? 'top-button-active' : ''"></label>

        <input type="radio" class="btn-check" th:field="*{setting}" th:value="${encode_decode}" id="setting-select-2" autocomplete="off">
        <label id="setting-select-label-2" class="btn top-button" for="setting-select-2" th:text="${encode_decode}"
               th:classappend="${FormSettingsInput.setting == encode_decode} ? 'top-button-active' : ''"></label>
    </div>

    <div class="container form-options-container" id="form-options" th:classappend="${FormSettingsInput.setting == formatter} ? 'noradius-left' : ''">


        <div class="row">
            <p id="description"></p>
        </div>


        <div class="form-options formatter-form-options"
             th:styleappend="${FormSettingsInput.setting == formatter} ? 'display:block' : 'display:none'">

            <div class="row">
                <label class="col-sm-2 col-form-label" th:text="${formatter_label}"></label>
                <div class="col-sm-10">
                    <div class="form-check col-md-auto form-check-inline">
                        <input class="form-check-input" type="radio" id="minify-radio-0"
                               th:field="*{minify}" th:value="${minify}" >
                        <label class="form-check-label" for="minify-radio-0" th:text="${minify}"></label>
                    </div>
                    <div class="form-check col-md-auto form-check-inline">
                        <input class="form-check-input" type="radio" id="minify-radio-1"
                               th:field="*{minify}" th:value="${beautify}" >
                        <label class="form-check-label" for="minify-radio-1" th:text="${beautify}"></label>
                    </div>
                </div>
            </div>

        </div>


        <div id="formatter-form-options" class="form-options formatter-form-options xml-form-options"
             th:styleappend="${FormSettingsInput.setting == formatter OR FormSettingsInput.setting == xml} ? 'display:block' : 'display:none'">

            <div id="indent-select-container" class="row">
                <label for="xmlRootName" class="col-sm-2 col-form-label" th:text="${indentation_label}"></label>
                <div class="col-sm-10">
                    <select class="form-select" id="indent-select" th:field="*{indentation}">
                        <option th:value="'0'" th:text="${indentation_option_0}"></option>
                        <option th:value="'1'" th:text="${indentation_option_1}"></option>
                        <option th:value="'2'" th:text="${indentation_option_2}"></option>
                        <option th:value="'3'" th:text="${indentation_option_3}"></option>
                        <option th:value="'4'" th:text="${indentation_option_4}"></option>
                        <option th:value="'5'" th:text="${indentation_option_5}"></option>
                        <option th:value="'6'" th:text="${indentation_option_6}"></option>
                    </select>
                </div>
            </div>
        </div>


        <div id="xml-form-options" class="form-options xml-form-options" th:styleappend="${FormSettingsInput.setting == xml} ? 'display:block' : 'display:none'">

            <div class="row">
                <label class="col-sm-2 col-form-label" th:text="${json_to_xml_label}"></label>

                <div class="col-sm-10">
                    <div class="form-check col-md-auto form-check-inline">
                        <input class="form-check-input" type="radio" id="xmlToJson-radio-0"
                               th:field="*{xmlToJson}" th:value="${json_to_xml}" >
                        <label class="form-check-label" for="xmlToJson-radio-0" th:text="${json_to_xml}"></label>
                    </div>
                    <div class="form-check col-md-auto form-check-inline">
                        <input class="form-check-input" type="radio" id="xmlToJson-radio-1"
                               th:field="*{xmlToJson}" th:value="${xml_to_json}" >
                        <label class="form-check-label" for="xmlToJson-radio-1" th:text="${xml_to_json}"></label>
                    </div>
                </div>


            </div>


            <div class="row" id="xmlroot-select-container">
                <label for="xmlRootName" class="col-sm-2 col-form-label" th:text="${xml_root_name}"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="xmlRootName" th:field="*{xmlRootName}">
                </div>
            </div>
            <!--<div class="row">
                <label for="xmlArrayName" class="col-sm-2 col-form-label" th:text="${json_array_name}"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="xmlArrayName" th:field="*{xmlArrayName}">
                </div>
            </div>-->




        </div>



        <div id="encode-form-options" class="form-options encode-form-options" th:styleappend="${FormSettingsInput.setting == encode_decode} ? 'display:block' : 'display:none'">



            <div class="row">
                <label for="xmlRootName" class="col-sm-2 col-form-label" th:text="${encode_type_label}"></label>
                <div class="col-sm-10">
                    <select class="form-select" th:field="*{encodetype}">
                        <option th:value="${string}" th:text="${string}"></option>
                        <option th:value="${base64}" th:text="${base64}"></option>
                        <option th:value="${binary}" th:text="${binary}"></option>
                        <option th:value="${hex}" th:text="${hex}"></option>
                    </select>
                </div>
            </div>

            <div class="row">
                <label for="xmlRootName" class="col-sm-2 col-form-label" th:text="${decode_type_label}"></label>
                <div class="col-sm-10">
                    <select class="form-select" th:field="*{decodetype}">
                        <option th:value="${string}" th:text="${string}"></option>
                        <option th:value="${base64}" th:text="${base64}"></option>
                        <option th:value="${binary}" th:text="${binary}"></option>
                        <option th:value="${hex}" th:text="${hex}"></option>
                    </select>
                </div>
            </div>


        </div>


        <div class="row">
            <div class="form-group">
                <label for="input-area" class="form-label" th:text="${input_label}"></label>
                <textarea id="input-area" class="form-control textarea" th:field="*{content}" autofocus
                          th:placeholder="${input_area_placeholder}" ></textarea>
            </div>
        </div>

        <div class="submit-button-container">
            <button type="submit" id="submit-button" name="submit" th:text="${submit}" class="btn btn-primary"></button>
        </div>

    </div>



</form>