<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Code Formatter</title>


    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400|Roboto:300,300i,400,400i" rel="stylesheet">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.0.0-beta2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body class="d-flex flex-column h-100">

<div th:if="${exception}">

    <div class="alert alert-warning alert-dismissible fade show" role="alert" >
        <strong th:text="${exception_title}"></strong> <span th:text="${exception_message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

</div>

<div th:replace="fragments/header :: header"></div>




<main role="main">
    <div class="container">
        <div class="title-container">
            <h1 th:text="${title}"></h1>
        </div>

        <div th:replace="fragments/form :: form"></div>


        <div th:if="${output} != null AND ${output} != ''">

            <div id="output-area-container" class="container output-area-container">
                <div class="row">
                    <div class="form-group">
                        <label for="output-area" class="form-label" th:text="${output_label}"></label>
                        <textarea id="output-area" placeholder="output" class="form-control textarea"
                                  th:text="${output}" wrap="off" readonly="true"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript" th:src="@{webjars/jquery/3.6.0/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.0.0-beta2/js/bootstrap.min.js}"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/javascript-obfuscator/dist/index.browser.js"></script>
<script th:inline="javascript">
var output = [[${output} != null ? ${output} : '']];
var setting = [[${FormSettingsInput.setting}]];

var beautify = [[(${FormSettingsInput.minify} != ${minify} AND ${FormSettingsInput.setting} == ${formatter}) OR (${FormSettingsInput.setting} == ${xml})]];

var showXmlRootOption = [[${FormSettingsInput.xmlToJson} == ${json_to_xml}]];

var formSettings = [[${FormSettingsInput}]];

var descs = [[${ {desc_json, desc_xml, desc_encode} }]];
</script>

<script type="text/javascript" th:src="@{js/main.js}"></script>
</body>
</html>